body {
	height: 95vh;
	width: 95;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #333;
}
h1 {
	font-family: monospace;
	color: rgb(255, 255, 255);
}
canvas {
	border-radius: 10%;
}
h1:hover {
	color: rgb(235, 114, 114);
}
button {
	display: none;
}
a {
	text-decoration: none;
}
@media screen and (max-width: 900px) {
	button {
		display: block;
		font-size: 2rem;
		margin: 8px;
		padding: 12px 24px;
	}
}
